h1 {
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin: 15px 0px 0px;
}

.description {
  color: #010101;
  text-align: center;
}

body {
  font-family: "Merriweather", serif;
  text-align: left;
  color: #FFFFFF;
  background-color: rgb(49, 49, 49);
}
.header {
  padding: 20px 20px 0px;
}

#surveyPage {
  margin: 10px auto;
  max-width: 40em;
  height: auto;
  background-image: url(https://i2.wp.com/www.shawnthebaptist.org/images/2019/02/BridgeOfDeath.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

a {
  text-decoration:none;
  color: inherit;
}

#name-label, #dropdown-label, #email-label, #number-label, #checkbox-label, #radio-label, #text-label {
  display: block;
  padding: 30px 10px 10px;
  border-radius: 9px;
}

#name, #dropdown, #email, #number, #textArea {
  display: block;
  padding: 10px 10px 10px;
  border-radius: 9px;
}

input[type="radio"]{
  margin: 0 10px 0 20px;
}

input[type="checkbox"]{
  margin: 0 10px 0 20px;
}

textarea {
  margin: 10px auto;
  overflow: auto;
  width: 80%;
  border-radius: 9px;
}

#surveyPageSweden {
  margin: 10px auto;
  max-width: 40em;
  height: auto;
  background: rgb(215, 200, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 5px solid #000000;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

#swedeBody {
  margin: 10px auto;
  font-family: 'Permanent Marker', cursive;
  text-align: left;
  color: rgb(0, 0, 0);
  background-color: rgb(170, 0, 0);
}

#divide {
  border: 2px solid whitesmoke;
  border-color: whitesmoke;
  height: 0px;
  width: 80%;
  border-radius: 2px;
}
#swedeDivide {
  border: 2px solid black;
  border-color: black;
  height: 0px;
  width: 80%;
  border-radius: 2px;
}

#submit {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 16px 32px;
  margin: 4px 2px 12px 4px;
  cursor: pointer;
  font-family: "Merriweather", serif;
  font-size: large;
  }

#submitSwede {
  background-color: rgb(170, 0, 0);
  border: none;
  color: black;
  padding: 16px 32px;
  margin: 4px 2px 12px 4px;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  font-size: large;
  }